$color-white: #ffffff;
$color-black: #000000;

$color-grey-100: #f2f2f3;
$color-grey-200: #ececec;
$color-grey-300: #e5e5e6;
$color-grey-400: #9d9f9d;
$color-grey-500: #767675;
$color-grey-700: #403f3f;
$color-grey-900: #282625;

$color-red-200: #f9001d;
$color-red-500: #ca472d;

$color-oxidRed-100: #e9d6d5;
$color-oxidRed-200: #d3adaa;
$color-oxidRed-300: #bd8580;
$color-oxidRed-500: #a61711;
$color-oxidRed-600: #9e0008;
$color-oxidRed-700: #771511;

$color-ochre-100: #f8e8d6;
$color-ochre-200: #f0d1ad;
$color-ochre-300: #e9b983;
$color-ochre-400: #e1a25a;
$color-ochre-500: #da8b31;
$color-ochre-600: #ae6f27;
$color-ochre-700: #83531d;
$color-ochre-800: #573814;
$color-ochre-900: #2c1c0a;
