@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/segoeui/SegoeUI-Semilight.woff2") format("woff2"),
    url("./fonts/segoeui/SegoeUI-Semilight.woff") format("woff");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/segoeui/SegoeUI.woff2") format("woff2"),
    url("./fonts/segoeui/SegoeUI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/segoeui/SegoeUI-Bold.woff2") format("woff2"),
    url("./fonts/segoeui/SegoeUI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/segoeui/SegoeUI-Light.woff2") format("woff2"),
    url("./fonts/segoeui/SegoeUI-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
